.tipsParent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.tipsChild {
  border-radius: 25px;
  border: 8px solid indigo;
  background-color: rgb(224, 255, 246);
  padding: 20px;
  width: 200px;
  height: 200px;
  margin: auto;
}


@media only screen and (max-width: 640px) {
    .tipsParent {
        flex-direction:column;
    }
}

@media only screen and (min-width: 640px) {
    .tipsParent {
        width: 600px;
        margin: auto;
    }
}

@media only screen and (min-width: 1080px) {
    .tipsParent {
        width: 1064px
    }
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: cadetblue;
}

.fixed-header, .fixed-footer{
    width: 101%;
    position: fixed;        
    background: grey;
    color: white;
    text-align: center;
    margin-left: -10px;
}
.fixed-header{
    top: 0;
    padding: 25px 0;
}
.fixed-footer{
    bottom: 0;
    padding: 15px 0;
}