.room1 {
  background-color: indigo;
  position: absolute;
}

#profile {
  width: 520px;
  height: 520px;
  background-color: rgb(101, 131, 156);
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 0px
}

.dot {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.box {
   width: 20px;
   height: 20px;
   padding: 10px;
   margin: 10px;
   position: absolute;
}

.tutorial {
  width: 40px;
   height: 40px;
   padding: 20px;
   margin: 20px;
   position: absolute;
   background-color: cyan;
}

.frontButtons {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.frontButtons:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .frontButtons {
    padding: 0.25em 0.75em;
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

@keyframes moveRight {
  from {
    translate: 0 0;
  }

  to {
    translate: 20px 0;
  }
}

@keyframes moveLeft {
  from {
    translate: 0 0;
  }

  to {
    translate: -20px 0;
  }
}

/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
.tooltip {
  color: black;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
}
.tooltip {
  /* triangle dimension */
  --b: 2em; /* base */
  --h: 1em; /* height */

  --p: 50%; /* triangle position (0%:top 100%:bottom) */
  --r: 1.2em; /* the radius */
  --c: white;

  padding: 1em;
  border-radius: var(--r)/min(var(--r),var(--p) - var(--b)/2) var(--r) var(--r) min(var(--r),100% - var(--p) - var(--b)/2);
  clip-path: polygon(0 100%,100% 100%,100% 0,0 0,
    0 max(0%  ,var(--p) - var(--b)/2),
    calc(-1*var(--h)) var(--p),
    0 min(100%,var(--p) + var(--b)/2));
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0/
    calc(var(--p) - var(--b)/2) var(--r) calc(100% - var(--p) - var(--b)/2) 0/
    0 0 0 var(--h);
}

