.room1 {
  background-color: green;
  position: absolute;
}

#profile {
  width: 520px;
  height: 520px;
  background-color: gray;
  padding: 10px;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 0px
}

.dot {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
}

.box {
   width: 20px;
   height: 20px;
   padding: 10px;
   margin: 10px;
   position: absolute;
}