.room1 {
  background-color: indigo;
  position: absolute;
}

.profile {
  border-radius: 25px;
  width: 520px;
  height: 520px;
  background-color: rgb(101, 131, 156);
  color: white;
  padding: 10px;
  position: absolute;
  top: 160px;
  left: 160px;
  box-shadow: 5px 10px 2px 0 rgba(0, 0, 0, 0.687);
}

.backdrop {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 230px;
  left: 230px;
  box-shadow: 0 0 0 220px rgba(0, 0, 0, 0.687);
}

#warning {
  width: 400px;
  height: 400px;
  top: 230px;
  text-align: center;
  display: grid;
  align-items: center;
  background-color: rgb(101, 131, 156);
  color: white;
  box-shadow: 0 0 0 5000px rgba(0, 0, 0, 0.687);
  font-weight: bold;
  position: relative;
  visibility: hidden;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}

.box {
  width: 40px;
  height: 40px;
  text-align: center;
  display: grid;
  align-items: center;
  position: absolute;
  box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}

.tutorial {
  width: 40px;
  height: 40px;
  padding: 20px;
  margin: 20px;
  position: absolute;
  background-color: cyan;
  box-shadow: 0 1px 1px rgba(0,0,0,0.9);
}

.buttons {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
}

.buttons:hover {
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;
  top: 1px;
  left: 1px;
}

.buttons:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(20px);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

@keyframes moveRight {
  from {
    translate: 0 0;
  }

  to {
    translate: 20px 0;
  }
}

@keyframes moveLeft {
  from {
    translate: 0 0;
  }

  to {
    translate: -20px 0;
  }
}